.container {
    width: 80%;
    margin: auto;
}

html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    margin:0;

}

header {
    background-color: darkgreen;
    padding: 1rem;
    text-align: right;
}

nav {
    background-color: #102bd9;


}

ul {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;
    padding: 0;
    margin: 5%;
    background-color: white;
}

li a{
    flex: 1;
    text-align: center;
    padding: 1em;
    padding-right: 2em;
}

li a:hover {
    background-color: #919191;
}

main {
    background-color:darkgreen;
    padding: 1rem;
    display: flex;
}

section {
    background-color: blue;
    width: 80%
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;
    padding: 0;
}

article {
    background-color: indianred;
}
figure {
    float:left;
    margin:0;
    margin-right:1rem;
    margin-bottom: 1rem;
}


}
figcaption {
    padding: 1rem;
}





form {
    background-color: floralwhite;
    width: 30%;
    margin:auto;
    padding: 2rem;
    flex-wrap: wrap;
}

input {
    display: block;
    width:100%;
    padding: 1rem;
}